html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 10%, 95%)
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    margin:20px 50px;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

.head {
    margin-left:50px;
}