html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 10%, 95%);
    word-break: break-word;
    max-width: 900px;
    margin: auto;
}

@media (max-width: 767px) {
    .body {
        max-width: 80%;
        margin: auto;
    }
}

.head {
    margin: 10px auto;
    background-color: hsl(0, 10%, 95%);
    padding: 10px 0px;
}

.section {
    background-color: hsl(0, 0%, 100%);
}

.section__body {
    display: grid;
    border-bottom: 1px solid gainsboro;
    margin: 10px 0px;
}

@media (min-width: 650px) {
    .section__body {
        grid-template-columns: 1fr auto auto;
    }
}

.section__button {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: white;
    padding: 0px 20px;
    margin: 15px 0px;
    transition: 1s;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

@media (max-width: 650px) {
    .section__button {
        width: 100%;
    }
}

.section__button:disabled {
    color: hsl(0, 0%, 80%)
}