html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 10%, 95%);
    word-break: break-word;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 80%;
    margin:auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 80%;
    }
}

.head {
    max-width: 80%;
    margin: 10px auto;
}