html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.button {
    color: white;
    background-color: green;
    height: 30px;
    width: 30px;
    padding:0px;
    border:none;
    margin:5px;
    cursor: pointer;
}

.button--remove {
    background-color:red;
}

