html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.list__item {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    display:grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 20px;
}

.list__item--done {
    text-decoration: line-through;
}
