html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.list {
    padding: 15px;
    list-style-type: none;
}

.list__button {
    color: white;
    background-color: green;
    height: 30px;
    width: 30px;
    padding: 0px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.list__button--remove {
    background-color: red;
}

.list__item {
    margin: 0px 10px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 20px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__header {
    padding: 0px 15px;
    font-size: large;
    margin: 15px 0px;
}