html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.section__button {
    padding: 10px 5px;
    color: white;
    background-color: teal;
    border: none;
    cursor:pointer;
    
}

.section__button:active {
    background-color: hsl(180, 70%, 25%);
}

.section__form {
    padding: 15px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 15px;
}

@media (max-width: 767px) {
    .section__form {
        grid-template-columns: 1fr;
    }
}

.section__header {
    padding: 15px;
    border-bottom: 1px solid gainsboro;
    font-size: large;
}

.section__input {
    border: 1px solid gainsboro;
    padding: 8px;
    outline:none
}

.section__input:focus {
    border: 1px solid black;
}

.section__list {
    padding: 15px;
    list-style-type: none;
}